.card-background-top {
    width: 100%!important;
    height: 250px!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: 50% 50%!important;
    background: linear-gradient(45deg, #f86332, transparent); 
    border-top-left-radius: calc(.25rem - 1px)!important;
    border-top-right-radius: calc(.25rem - 1px)!important;
}

.card-background-left {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 100px;
}

.card-body.pass-md { 
    padding: 0.25rem;
}

.badge.pass-badge {
    border-width: 2px;
    font-weight: 400;
    font-size: 0.8571em;
    line-height: 1.35em;
    margin: 14px 1px;
    border: none;
    border-radius: 3rem;
    padding: 16px 22px;
    cursor: default; 
    color: #FFFFFF;
}

.profile-page h5.description.pass { 
    margin: 20px auto 15px!important;
}

.profile-page .collections img {
    margin-bottom: 0px!important;
}

.btn.pass {
    margin: 2px 4px!important;
    padding: 11px 10px!important;
}

.btn-lg.pass-lg { 
    padding: 15px 20px;
}

small {
    font-size: 85%!important;
}

i.fa.pass, i.fas.pass, i.fab.pass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px, -12px);
    line-height: 1.5626rem;
    width: 23px;
}

i.fa.pass, i.fas.pass, i.fab.pass {
    font-size: 1.325rem;
}

.registration-page .photo-container {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}
